.profile__button-edit {
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    margin-left: 18px;
    align-self: center;
    padding: 0;
    background-image: url('../../../images/edit-button.svg') ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 536px) {    
    .profile__button-edit {
        width: 18px;
        height: 18px;
        margin-left: 10px;
    } 
}

.profile__button-edit:hover {
    opacity: 0.6;
    cursor: pointer;
}