.popup__input {
    max-width: 358px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0;
    padding-bottom: 10px;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.popup__input:first-child {
    margin-top: 48px;
}

@media screen and (max-width: 600px) {    
    .popup__input:first-child {
        margin-top: 75px;
    } 
}