.profile__profession {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 16px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 294px;
}

@media screen and (max-width: 536px) {    
    .profile__profession {
        margin-top: 14px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    } 
}