.popup__close-icon {
    border: none;
    position: absolute;
    right: -40px;
    top: -40px;
    width: 32px;
    height: 32px;
    background: url('../../../images/close-icon.svg'), no-repeat transparent center;
}
    
@media screen and (max-width: 600px) {    
    .popup__close-icon {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0px;
    } 
}
    
.popup__close-icon:hover {
    opacity: 0.6;
    cursor: pointer;
}
