.element__delete-card {
  width: 18px;
  height: 19px;
  border: none;
  background: url("../../../images/delete.svg") no-repeat;
  padding: 0;
  position: absolute;
  top: 20px;
  right: 20px;
}

.element__delete-card:hover {
  opacity: 0.6;
  cursor: pointer;
}
